/* autoprefixer grid: autoplace */
main > * + * {
  margin-top: 2rem;
}

html {
  color: var(--grey-900);
}

body {
  background-color: var(--honey-100);
}

a:any-link {
  color: var(--dusk-pink-700);
}
