/* autoprefixer grid: autoplace */

/* Top level Section spacing 24px (grid gap) + owl selector */
main > * + * {
  /* margin-top: 48px; */
}

section > p + * {
  /* margin-top: 32px; */
}

section {
}

main > section.p-small > p,
main > .p-small > p {
  /* margin-top: 16px; */
}

html {
  color: var(--grey-900);
}

body {
  background-color: var(--honey-100);
}

a:any-link {
  color: var(--turquoise-700);
}

a:any-link:hover {
  color: var(--dusk-pink-900);
}

hr {
  border-top: 2px solid var(--dusk-pink-600);
}

.loose > * {
  margin-top: 24px;
}

.med-spacing > * {
  /* margin-top: 64px; */
}

.med-spacing > * + * {
  /* border: 1px solid red;
  margin-top: 64px; */
}

.loose > * + * {
  /* margin-top: 24px; */
}

.sapwood-wordmark {
  font-family: Gothic A1;
  font-weight: bold;
  color: #b7606d;
  color: var(--dusk-pink-800);
}

ul > li > .sapwood-wordmark {
  color: #b7606d;
  color: var(--dusk-pink-800);
  text-decoration: none;
}

ul > li + *,
ol > li + * {
  margin-top: 12px;
}

ul,
ol {
  margin-top: 24px;
}

form > input[type='submit'],
form > input[type='button'],
button:not(.nav-button) {
  background: var(--turquoise-700);
  color: var(--honey-100);
  border: none;
  cursor: pointer;

  font-weight: 600;

  border-radius: 100px;

  line-height: 32px;

  max-width: fit-content;
  padding: 20px 72px;

  margin: 24px 0px;

  box-shadow: var(--shadow-medium);
}

.button-pink-1 {
  background: var(--dusk-pink-200);
  color: var(--grey-800);
  border: 6px double var(--dusk-pink-600);

  border-radius: 2px;
}

.button-blue-1 {
  background: var(--turquoise-100);
  color: var(--grey-800);
  border: 6px double var(--turquoise-600);

  border-radius: 2px;
}

.button-green-1 {
  background: var(--green-200);
  color: var(--grey-900);
  border: 2px solid var(--grey-500);

  border-radius: 2px;
  box-shadow: none;
}

.button-grey-1 {
  background: var(--grey-200);
  color: var(--grey-900);
  border: 2px solid var(--grey-400);

  border-radius: 2px;
  box-shadow: none;
}

.reverse {
  flex-direction: row-reverse;
}

.chevron {
  max-width: fit-content !important;
}
